/* COUNT */
.count {
  background-color: var(--warning);
  padding: 50px 0;
  color: var(--white);
}

@media (max-width: 600px) {
  .count {
    padding: 20px;
  }
}

.count > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.count__box {
  width: 25%;
  padding: 5px;
  text-align: center;
  border-left: 1px solid var(--warning-light);
  border-right: 1px solid var(--warning-dark);
}

.count__box:first-child {
  border-left: none;
}

.count__box:last-child {
  border-right: none;
}

.count__box__title {
  margin: 0;
  font-size: 60px;
  font-weight: 200;
}

.count__box__description {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 850px) {
  .count__box {
    width: 50%;
    padding-bottom: 30px;
  }

  .count__box:nth-child(2) {
    border-right: none;
  }

  .count__box:nth-child(3) {
    padding-bottom: 0;
    border-left: none;
  }

  .count__box:nth-child(4) {
    padding-bottom: 0;
  }
}

@media (max-width: 600px) {
  .count__box {
    width: 100%;
    padding: 20px 0px;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--warning-light);
    border-bottom: 1px solid var(--warning-dark);
  }

  .count__box__title {
    font-size: 40px;
  }

  .count__box__description {
    font-size: 16px;
  }

  .count__box:nth-child(1) {
    padding-top: 5px;
    border-top: none;
  }

  .count__box:nth-child(3) {
    padding-bottom: 20px;
  }

  .count__box:nth-child(4) {
    padding-bottom: 5px;
    border-bottom: none;
  }
}
/* ------------- */
