/* HEADER CONTENT */
.header > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--white);
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content__title {
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 800px) {
  .header__content__title {
    line-height: 0.9;
  }
}

@media (max-width: 500px) {
  .header__content__title {
    font-size: 40px;
  }
}

.header__content__subtitle {
  margin: 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__content__description {
  width: 70%;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 800px) {
  .header__content__description {
    width: 100%;
  }
}

.header__content__buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .header__content__buttons {
    flex-direction: column;
  }
}

.header__content__button {
  min-width: 200px;
  background: none;
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 16px 26px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background 0.4s, border 0.4s;
}

.header__content__button:hover {
  background-color: var(--warning);
  border-color: var(--warning);
}
/* ------------- */
