/* WRITE TO US */
.write_to_us {
  position: relative;
  padding: 30px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--white);
  z-index: 1;
}

.write_to_us::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: -1;
}

@media (max-width: 900px) {
  .write_to_us {
    background-attachment: scroll;
  }
}

.write_to_us__conteiner {
  display: flex;
}

.write_to_us__conteiner__left {
  width: 70%;
  padding-right: 30px;
}

.write_to_us__conteiner__left__title {
  font-size: 30px;
  font-weight: 300;
}

.write_to_us__conteiner__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.write_to_us__conteiner__right__link {
  border: 2px solid var(--warning);
  background-color: var(--warning);
  border-radius: 30px;
  padding: 16px 26px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.4s, border 0.4s;
}

.write_to_us__conteiner__right__link:hover {
  background-color: var(--warning-dark);
  border-color: var(--warning-dark);
}

@media (max-width: 750px) {
  .write_to_us__conteiner {
    flex-direction: column;
  }

  .write_to_us__conteiner__left {
    width: 100%;
    padding-right: 0px;
  }

  .write_to_us__conteiner__right {
    width: 100%;
    padding: 20px;
  }
}
/* ------------- */
