.sortable_list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sortable_list__item {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 6px 0;
  cursor: grab;
}

.sortable_list__item:hover {
  border-color: rgb(198, 198, 198);
}

.sortable_list__item_handle {
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #888;
  user-select: none;
  cursor: grab;
}

.sortable_list__item_handle:hover {
  color: rgb(51, 51, 51);
}

.sortable_list__item.dragging {
  opacity: 0.7;
  background: rgb(241, 245, 249);
}

.sortable_list__item.is-hidden {
  opacity: 0.5;
  background: #f6f6f6;
}
