/* CONTACT */
.contanct {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contanct__data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 47%;
}

.contact__form {
  width: 47%;
}

@media (max-width: 1000px) {
  .contanct__data,
  .contact__form {
    width: 100%;
  }
}

.contanct__data__box {
  width: 47%;
}

@media (max-width: 500px) {
  .contanct__data__box {
    width: 100%;
  }
}

.contact__form p input {
  margin-bottom: var(--input-margin-bottom);
}

.map {
  width: 100%;
  height: var(--map-height);
  margin-top: var(--map-margin-top);
}

.map--empty {
  height: auto;
  margin-bottom: 30px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block; /* zapobiega ewentualnym lukom */
}

.page_main_contact {
  margin-bottom: 0;
}
/* ------------- */
