/* CONTACT */
.contanct {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contanct__data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 47%;
}

.contact__form {
  width: 47%;
}

@media (max-width: 1000px) {
  .contanct__data,
  .contact__form {
    width: 100%;
  }
}

.contanct__data__box {
  width: 47%;
}

@media (max-width: 500px) {
  .contanct__data__box {
    width: 100%;
  }
}

.contact__form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contact__form p span {
  width: 100%;
}

.map {
  margin-top: 40px;
  width: 100%;
  height: 600px;
}

.map--empty {
  height: auto;
  margin-bottom: 30px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block; /* zapobiega ewentualnym lukom */
}

.page_main_contact {
  margin-bottom: 0;
}
/* ------------- */
