/* FOOTER */
.footer {
  padding: 30px;
  background-color: var(--primary-dark);
  color: var(--white);
  font-size: 16px;
}

.footer > .container {
  display: flex;
  flex-wrap: wrap;
}

.footer__box {
  width: 33%;
  padding: 0 10px;
}

@media (max-width: 800px) {
  .footer__box {
    width: 50%;
  }
}

.footer__box:last-child {
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 800px) {
  .footer__box:last-child {
    margin-top: 0px;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .footer__box {
    width: 100%;
  }

  .footer__box:last-child {
    width: 100%;
  }
}

.footer__box__title {
  font-size: 26px;
}

.footer__box__title-small {
  font-size: 26px;
  font-weight: 200;
}

.footer__box > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__box > ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.footer__box > ul li .material-symbols-outlined {
  color: var(--warning);
}

.footer__box .footer__box__list-contact li a {
  text-decoration: none;
  color: var(--warning);
}

.footer__box .footer__box__list-contact li a:hover {
  text-decoration: underline;
}

.footer__box .nav__menu__list {
  flex-direction: column;
}

.footer__box .nav__menu__list li {
  padding: 5px 0;
}

.footer__box .nav__menu__list__link {
  padding: 0;
  text-transform: none;
}

.footer__box__social_media {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footer__box__social_media a svg {
  color: var(--light);
  transition: color 0.4s;
}

.footer__box__social_media a:hover svg {
  color: var(--warning);
}
/* ------------- */
