/* HEADER */
.header {
  position: relative;
  height: var(--header-height);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.35));
  z-index: -1;
}

@media (max-width: 900px) {
  .header {
    background-attachment: scroll;
  }
}

@media (max-width: 800px) {
  .header {
    height: var(--header-mobile-height);
    padding-top: var(--header-mobile-padding-top);
  }
}

.container_nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--header-bav-box-shadow);
  z-index: 999;
}

/* ------------- */
