/* BLOG */
.blog {
  padding: 50px 0;
}

.blog__description {
  text-align: center;
  padding: 0 20%;
  font-size: 20px;
}

.blog_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .blog_container {
    flex-wrap: wrap;
  }
}

.blog_container__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33% - 10px);
}

@media (max-width: 900px) {
  .blog_container__box {
    width: calc(50% - 10px);
  }
}

@media (max-width: 750px) {
  .blog_container__box {
    width: 100%;
  }
}

.blog_container__box--background {
  padding: 15px;
  background-color: var(--primary-medium);
  border-radius: 8px;
  color: var(--white);
  transition: box-shadow 0.4s;
}

.blog_container__box--background:hover {
  box-shadow: 0 0 12px var(--primary-dark);
}

.blog_container__box__image_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog_container__box__image_title--up-title {
  flex-direction: column-reverse;
}

.blog_container__box__image {
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.blog_container__box--background .blog_container__box__image {
  border-radius: 5px;
}

.blog_container__box__title {
  margin: 0px;
  font-weight: 500;
}

.blog_container__box__title__link {
  color: var(--primary-light);
  text-decoration: none;
}

.blog_container__box--background .blog_container__box__title__link {
  color: var(--pwhite);
}

.blog_container__box__title__link:hover {
  color: var(--warning);
}

.blog_container__box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_container__box__footer--between {
  justify-content: space-between;
}

.blog_container__box__footer--start {
  justify-content: flex-start;
}

.blog_container__box__footer--center {
  justify-content: center;
}

.blog_container__box__footer--end {
  justify-content: flex-end;
}

.blog_container__box__footer__red_more {
  color: var(--warning);
  font-weight: 600;
  text-decoration: none;
}

.blog_container__box__footer__red_more:hover {
  color: var(--primary-light);
}

.blog_container__box--background .blog_container__box__footer__red_more:hover {
  color: var(--white);
}
/* ------------- */
