/* PRODUCTS */
.products {
  padding: 50px 0;
}

.products__description {
  text-align: center;
  padding: 0 20%;
  font-size: 20px;
}

@media (max-width: 800px) {
  .products__description {
    padding: 0px;
  }
}

.products__box {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px var(--light);
  transition: box-shadow 0.4s;
}

.products__box:nth-of-type(2n).products__box--left-right {
  flex-direction: row-reverse;
}

.products__box--right {
  flex-direction: row-reverse;
}

.products__box:nth-of-type(1) {
  margin-top: 40px;
}

@media (max-width: 800px) {
  .products__box {
    box-shadow: 0 0 16px 2px var(--light);
  }
}

.products__box:hover {
  box-shadow: 0 0 16px 2px var(--light);
}

.products__box_image {
  width: 40%;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products__box--left-right:nth-of-type(2n) .products__box_image {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.products__box_image--right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.products__box__description {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  padding: 15px 30px 15px 0px;
}

.products__box--left-right:nth-of-type(2n) .products__box__description {
  flex-direction: row-reverse;
  padding: 15px 0px 15px 30px;
}

.products__box__description--right {
  flex-direction: row-reverse;
  padding: 15px 0px 15px 30px;
}

.products__box__description__title {
  margin: 0px;
  font-size: 35px;
  font-weight: 500;
}

.products__box__description__title_link {
  color: var(--primary-light);
  text-decoration: none;
}

.products__box__description__title_link:hover {
  color: var(--warning);
  text-decoration: none;
}

.products__box__description__more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.products__box__description__more .material-symbols-outlined {
  font-size: 60px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 28;
}

.products__box--left-right:nth-of-type(2n)
  .products__box__description__more
  .material-symbols-outlined {
  transform: rotate(180deg);
}

.products__box__description__more--right .material-symbols-outlined {
  transform: rotate(180deg);
}

.products__box__description__more .material-symbols-outlined:hover {
  color: var(--warning);
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 28;
}

@media (max-width: 900px) {
  .products__box:nth-of-type(2n).products__box--left-right,
  .products__box {
    flex-direction: column;
    gap: 15px;
  }

  .products__box:nth-of-type(2n) .products__box_image,
  .products__box_image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .products__box_image,
  .products__box__description__more {
    width: 100%;
  }

  .products__box:nth-of-type(2n) .products__box__description,
  .products__box__description {
    flex-direction: column;
    padding: 15px;
  }

  .products__box:nth-of-type(2n)
    .products__box__description__more
    .material-symbols-outlined {
    transform: rotate(0deg);
  }

  .products__box__description__more {
    padding-bottom: 20px;
  }
}
/* ------------- */
