/* BLOG */
.blog {
  padding: 50px 0;
}

.blog_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .blog_container {
    flex-wrap: wrap;
  }
}

.blog_container__box {
  display: flex;
  flex-direction: column;
  width: calc(33% - 20px);
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .blog_container__box {
    width: 100%;
  }
}

.blog_container__box_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog_container__box__image {
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.blog_container__box__title {
  margin-bottom: 0px;
  font-weight: 500;
}

.blog_container__box__title__link {
  color: var(--primary-light);
  text-decoration: none;
}

.blog_container__box__title__link:hover {
  color: var(--warning);
}

.blog_container__box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_container__box__footer__red_more {
  color: var(--warning);
  font-weight: 600;
  text-decoration: none;
}

.blog_container__box__footer__red_more:hover {
  color: var(--primary-light);
}
/* ------------- */
